body {
    background-color: #474747;
    width: 100%; /* Use the full viewport width */
    height: 100vw; /* Use the full viewport height */
    margin: 0;
    overflow: hidden;
  }

  .button{
    background-color: #5d5252;
    margin-top: -250px;
  }

  .nameContainer{
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    border:2px solid green;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }



  h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10em ;
    color: aliceblue;
    position: absolute;
    border:2px solid green;;
    width: fit-content;
    height: fit-content;
    z-index: 1;
  }

  .h2Animation{
  transition: all 0.3s;
  }

  .h2Animation:hover {
    transform: translateY(-10px);
    transform: translateX(-10px);
    color: black;

  }

  .h2Animation:hover + .projectContainer{
    display: flex;
    
  }

 
  .projectContainer{
    display: flex;
    border: 2px solid red;
    position: relative;
    justify-content: space-evenly;
    padding-top: 20rem;
    gap: 10em;
    display: none;
    height: 100px;
    z-index: 1;
    
  }

   
  .projectContainer:hover{
    display: flex;
    border: 2px solid green;
    position: relative;
    justify-content: space-evenly;
    padding-top: 20rem;
    z-index: 1;
    gap: 10em;
    height: 100px;
  }
 
 
  .project{
    border: 2px solid red;;
    font-family: Arial, Helvetica, sans-serif;
    animation: slide-in 1000ms;
    width: 100px;
    height: auto;
    color:black;
    animation: slide-in 3s;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    transition: all 2s ease;

  }


  .transform-active{
    height: 10rem;
    width: 60rem;
  }
  
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 25rem;
    border:2px solid green;;

  }

  .fade-in-textA {
    font-family: Arial;
    color: white;
    animation: fadeIn 5s;
    margin-left: 7rem;
    
  }
  .fade-in-textB {
    font-family: Arial;
    animation: fadeIn 7s;
    padding-left: 2rem;
    
  }
  .fade-in-textC {
    font-family: Arial;
    animation: fadeIn 9s;
    
  }
  .fade-in-textD {
    font-family: Arial;
    animation: fadeIn 11s;
    
  }



  .aboutMe{
    margin-top: 45rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10em ;
    color: aliceblue;
    position: absolute;
    border:2px solid green;;
    width: fit-content;
    height: fit-content;
  }


  .aboutMe:hover + .personalContainer{
    display: flex;
  }

  .aboutMe:hover {
    transform: translateY(-10px);
    transform: translateX(-10px);
    color: black;
    transition: all 0.3s;
    }

   

  

.personalContainer{
  position: absolute;
  display: none;
  border: 2px solid red;
  margin-top:35rem;
  width: 90rem;
  align-items: center;
  justify-content: space-between;
  height: 12rem;

}

.personalContainer:hover{
display: flex;
}




.personal1{
  animation: slide-out-right 3s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;


}
.personal{
  animation: slide-out-left 3s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;


}

@keyframes slide-in {
  from{ transform: translateY(-100%)}
  to{transform: translateY(0%)}
}
@keyframes slide-back {
  from{ transform: translateY(0%)}
  to{transform: translateY(-100%)}
  
}
 
 
  @keyframes slide-out-right {
    0% {
    margin-left: 50%;
   }
 
   25%, 75% {
   
   }
 
   100% {  
    margin-left: 0px;
  
   }
 }

 @keyframes slide-out-left {
  0% {
  margin-right: 50%;
 }

 25%, 75% {
 
 }

 100% {  
  margin-left: 0px;

 }
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}